@import "tailwindcss";

h1 {
  font-family: 'Judson', serif;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-family: 'Judson', serif;
  color: white;
  font-weight: bold;
}


nav li a{
  font-family: 'Judson', serif;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
