@import "tailwindcss";

h1 {
  font-family: 'Judson', serif;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-family: 'Judson', serif;
  color: white;
  font-weight: bold;
}

h3 {
  font-family: 'Judson', serif;
  color: #44223B;
  font-weight: bold;
  font-size: 2.45rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}


nav li a{
  font-family: 'Judson', serif;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
